<nav>
    <div id="left-container">
        <a routerLink="/" id="home-btn"><img src="./assets/icon.ico" alt="IMS">IMS</a>
        <a routerLink="/inventory" routerLinkActive="activebutton">Inventory</a>
        <a routerLink="/refunds" routerLinkActive="activebutton">Refunds</a>
        <a routerLink="/tracking" routerLinkActive="activebutton">Tracking</a>
        <a routerLink="/suppliers" routerLinkActive="activebutton">Suppliers</a>
        <a routerLink="/warehouses" routerLinkActive="activebutton">Warehouses</a>
        <a routerLink="/payments" routerLinkActive="activebutton">Payments</a>
        <a routerLink="/invoices" routerLinkActive="activebutton">Invoices</a>
        <a routerLink="/users" routerLinkActive="activebutton">Users</a>
    </div>
    <div id="right-container">
        <a routerLink="/chats" routerLinkActive="activebutton">Chats</a>
        <a routerLink="/requests" routerLinkActive="activebutton">Requests</a>
        <a routerLink="/profile" routerLinkActive="activebutton">User</a>
        <a routerLink="/login" id="login-btn">Login</a>
    </div>
</nav>