CREATE TABLE STOCK
(
	STOCKID INT PRIMARY KEY IDENTITY(1,1),
	VARIANTID INT
	FOREIGN KEY (VARIANTID) REFERENCES VARIANT(VARIANTID),
	MANUFACTURERID INT 
	FOREIGN KEY (MANUFACTURERID) REFERENCES MANUFACTURER(MANUFACTURERID),
	QUANTITY INT NOT NULL,
	REMAINING INT NOT NULL,
	WAREHOUSEID INT
	FOREIGN KEY (WAREHOUSEID) REFERENCES WAREHOUSE(WAREHOUSEID)
)

