<div id="main-container">
    <h4>Add Model</h4>
    <form [formGroup]="addmodelform" (ngSubmit)="addModel()">
        <label for="brandName">Brand</label>
        <input type="text" id="brandName-input" list="brand-list" formControlName="brandName" (input)="brandinput()">
        <datalist id="brand-list">
            <option *ngFor="let brand of brandnameslist">{{brand}}</option>
        </datalist>
        <label for="modelName-input">Model Name</label>
        <input type="text" name="model-name" id="modelName-input" formControlName="modelName">
        <label for="release-date-input">Release Date</label>
        <input type="date" name="release-date" id="release-date-input" formControlName="releaseDate">
        <hr>
        <h4 id="specs-heading">Specifications</h4>
        <label for="screen-size-input">Screen Size (inches)</label>
        <input type="number" name="screen-size" id="screen-size-input" formControlName="screenSize">
        <label for="battery-capacity-input">Battery Capacity (mAh)</label>
        <input type="number" name="battery-capacity" id="battery-capacity-input" formControlName="battery">
        <label for="charging-speed-input">Charging Speed (W)</label>
        <input type="number" name="charging-speed" id="charging-speed-input" formControlName="charging">
        <label for="sim-slots-input">Sim Slots</label>
        <input type="number" name="sim-slots" id="sim-slots-input" formControlName="simSlots">
        <button type="submit">Add Model</button>
    </form>
    <app-message></app-message>
</div>

