<div id="main-container" (submit)="addModel($event)">
    <h4>Add Model</h4>
    <form>
        <label for="brand">Brand</label>
        <select name="brand" id="brand">
            <option value="brand1">Brand 1</option>
            <option value="brand2">Brand 2</option>
        </select>
        <label for="model-name">Model Name</label>
        <input type="text" name="model-name" id="model-name">
        <label for="release-date">Release Date</label>
        <input type="date" name="release-date" id="release-date">
        <hr>
        <h4 id="specs-heading">Specifications</h4>
        <label for="screen-size">Screen Size (inches)</label>
        <input type="number" name="screen-size" id="screen-size">
        <label for="battery-capacity">Battery Capacity (mAh)</label>
        <input type="number" name="battery-capacity" id="battery-capacity">
        <label for="charging-speed">Charging Speed (W)</label>
        <input type="number" name="charging-speed" id="charging-speed">
        <label for="sim-slots">Sim Slots</label>
        <input type="number" name="sim-slots" id="sim-slots">
        <button type="submit">Add Model</button>
    </form>
</div>

