<div id="main-container">
    <div id="collapsible-container">
        <button id="header-button"  (click)="this.isAddEntitiesOpened = !this.isAddEntitiesOpened;">
            <span id="plus-minus-sign" [textContent]="isAddEntitiesOpened ? '-' : '+' "></span>
            <span>Add Entities</span>
        </button>
        <div id="content-container" [ngClass]="{'hidden': !isAddEntitiesOpened}">
            <button class="list-button">Add Stocks</button>
            <button class="list-button">Add Brands</button>
            <button class="list-button">Add Models</button>
            <button class="list-button">Add Variants</button>
            <button class="list-button">Add Manufacturers</button>
        </div>
    </div>
    <div id="collapsible-container">
        <button id="header-button" (click)="this.isViewEntitiesOpened = !this.isViewEntitiesOpened;">
            <span id="plus-minus-sign" [textContent]="isViewEntitiesOpened ? '-' : '+' "></span>
            <span>View Entities</span>
        </button>
        <div id="content-container" [ngClass]="{'hidden': !isViewEntitiesOpened}">
            <button class="list-button">View Stocks</button>
            <button class="list-button">View Brands</button>
            <button class="list-button">View Models</button>
            <button class="list-button">View Variants</button>
            <button class="list-button">View Manufacturers</button>
        </div>
    </div>
</div>