#main-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}
img{
    height: fit-content;
}
#right-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#edit-container{
    margin: 10px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.activebutton{
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 172, 93);
    padding: 5px 10px;
    color: #fff;
}
.inactivebutton, #update-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(197, 197, 197);
    padding: 5px 10px;
}
#model-data-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 40px;
}
#variants-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
}

#horizontalPixels-input, #verticalPixels-input{
    width: 100px;
    text-align: center;
}
#cards-container{
    display: flex;
    gap: 10px;
}
.card{
    padding: 2px 10px;
    background-color: rgba(182, 182, 182, 0.623);
}
input{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 214, 195);
    outline: none;
    transition: 0.3s;
}
input:focus{
    box-shadow: 0 0 10px 0 rgb(133, 133, 133);
}
.input-view{
    border: none;
    outline: none;
}
label{
    font-weight: 600;
}
#app-msg{
    text-align: center;
}
/* div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
p {
    font-size: 20px;
} */