<div id="main-container" (submit)="addBrand($event)">
    <h4>Add Brand</h4>
    <form>
        <label for="brand-display-name">Brand Display Name</label>
        <input type="text" name="brand-display-name" id="brand-display-name">
        <label for="brand-legal-name">Brand Legal Name</label>
        <input type="text" name="brand-legal-name" id="brand-legal-name">
        <label for="brand-description">Brand Description</label>
        <input type="text" name="brand-description" id="brand-description">
        <label for="website-url">Website URL</label>
        <input type="text" name="website-url" id="website-url">
        <button type="submit">Add Brand</button>
    </form>
</div>
