USE [Inventory_Management]
GO
/****** Object:  StoredProcedure [dbo].[UploadImage]    Script Date: 10/11/2024 2:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UploadImage]
	@ImageData NVARCHAR(MAX) = '',
	@ContentType NVARCHAR(100) = 'image/jpg',
	@ModelId INT
	--@Result VARCHAR(MAX) OUTPUT

AS
BEGIN
INSERT INTO IMAGES(IMAGEDATA, CONTENTTYPE, MODELID)
		VALUES (@ImageData, @ContentType, @ModelId)
		--SET @Result = 'Image Uploaded Succesfully';
	--BEGIN TRY
		
	--END TRY
	--BEGIN CATCH
	--	DECLARE @ErrorNumber INT = ERROR_NUMBER();
	--	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	--	 IF @ImageData IS NULL  -- Division by zero error
 --       BEGIN
 --           SET @Result = 'Please provide a valid image file';
 --       END
 --       ELSE IF @ErrorNumber = 547  -- Foreign key violation error
 --       BEGIN
 --           SET @Result = 'Model not found';
 --       END
 --       ELSE
 --       BEGIN
 --           PRINT 'An error occurred: ' + @ErrorMessage;
 --       END
	--END CATCH
END