USE [Inventory_Management]
GO
/****** Object:  StoredProcedure [dbo].[GetImageData]    Script Date: 10/11/2024 2:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetImageData]
	@ModelId INT = 1

AS
BEGIN
	DECLARE @RecordsCount INT;
	Print @ModelId;
	SET @RecordsCount = (SELECT COUNT(*) FROM IMAGES WHERE MODELID = @ModelId);
	Print @RecordsCount;
	IF @RecordsCount = 0
	BEGIN
		SELECT IMAGEDATA, CONTENTTYPE, MODELID FROM IMAGES WHERE IMAGEID = 1;
	END
	ELSE
	BEGIN
		SELECT IMAGEDATA, CONTENTTYPE, MODELID FROM IMAGES WHERE @ModelId = @ModelId;
	END
END